<!doctype html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <title>St. Franziskus Bochum - Chat zum Livestream</title>
        <link rel="apple-touch-icon" sizes="57x57" href="assets/grafix/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="assets/grafix/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="assets/grafix/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="assets/grafix/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="assets/grafix/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="assets/grafix/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="assets/grafix/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="assets/grafix/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="assets/grafix/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="assets/grafix/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="assets/grafix/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="assets/grafix/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="assets/grafix/favicon/favicon-16x16.png">
        <link rel="manifest" href="assets/grafix/favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <link rel="stylesheet" href="assets/css/style.css" type="text/css">
        <script src="node_modules/vue/dist/vue.min.js"></script>
        <!-- <script src="node_modules/axios/dist/axios.js"></script> -->
    </head>
    <body>
        <div class="grid-container">
            <header>
                <img src="assets/grafix/pentateuch.png" height="65px">&nbsp;<h1>St. Franziskus - Gottesdienst im Livestream</h1>
            </header>
            <main>
                <div class="video">
                    <div class="video_container">
                        <!-- <iframe src="https://player.twitch.tv/?channel=mr_muli" frameborder="0" allowfullscreen="true" scrolling="no" height="378" width="620"></iframe><a href="https://www.twitch.tv/mr_muli?tt_content=text_link&tt_medium=live_embed" style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px; text-decoration:underline;">Watch live video from mr_muli on www.twitch.tv</a> -->
                    </div>
                </div>
                <div id="chat">
                    <div id="errors" v-show="errors.length > 0">
                        <ul>
                            <li v-for="error in errors">{{ error }}</li>
                        </ul>
                    </div>
                    <div id="chatwindow">
                        <ul>
                            <li v-for="message in chatMessages">
                                <strong>{{ message.username }}:</strong> {{ message.posted }}<br>
                                {{ message.message }}
                            </li>
                        </ul>
                    </div>
                    <br>
                    <input id="chatnick" v-model="username" type="text" size="9" placeholder="username">&nbsp;
                    <input id="chatmsg" v-model="message" v-on:keyup.enter="postMessage" :class="[message.length < 3 ? 'red' : 'green']" type="text" placeholder="message ...">
                    <input type="button" v-on:click="postMessage" v-bind:disabled="message.length < 3" value="absenden">
                    <!-- <input type="button" @:click="postMessage" @:keyup.enter="postMessage" :disabled="message.length < 3" value="+ add" onclick="submit_msg();"> -->

                    <!--  <chat :status="status" /> Chat as a vue component -->
                    <div id="userlist" v-show="users.length > 0">
                        <h3>Teilnehmer</h3>
                        <ul>
                            <li v-for="user in users">{{ user[0] }}</li>
                        </ul>
                    </div>
                </div>
            </main>
            <footer>
                <p></p>
            </footer>
        </div>
    </body>
</html>
<script src="assets/js/mychat.js"></script>
<!--<script src="assets/js/chat.js"></script>-->
